{% extends 'main/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 pt-5 text-center" style="font-size: 48px; color: gold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);"><strong>{{ content }}</strong></h1>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock %}

